POLMO Sofware/Node-Red Flows/flows.json
[{"id":"ce207850.5a8018","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ae944a8.27c26b8","type":"ibmiot in","z":"ce207850.5a8018","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":300,"y":360,"wires":[["cca7421.c6b7bc"]]},{"id":"cca7421.c6b7bc","type":"function","z":"ce207850.5a8018","name":"Process data ","func":"payload = {...msg.payload};\nsensor = msg.topic.split(\"/\")[6];\npayload.sensor = sensor;\nvar now = new Date();\npayload.time = now.toISOString();\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":360,"wires":[["494a63d.23ac79c"]]},{"id":"494a63d.23ac79c","type":"cloudant out","z":"ce207850.5a8018","name":"Store Sensor Data  to DB","cloudant":"","database":"sensor_data","service":"node-red-gjjph-2021--cloudant-1627287915031-61641","payonly":true,"operation":"insert","x":890,"y":360,"wires":[]}]